<footer class="footer">
    <div class="social-links">
      <a href="https://www.instagram.com/franntr_/" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/francisco-torres-roiger-8567b1186/" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/Ftroiger" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
    </div>
</footer>
  