/* You can add global styles to this file, and also import other style files */
body{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(0deg, #ffffff 0%, #7d7e82 100%);
    background-repeat: no-repeat;
}